<input id='visor' value="">
<br>
<botao largura="50px" altura='50px' conteudo="1"></botao>
<botao largura="50px" altura='50px' conteudo="2"></botao>
<botao largura="50px" altura='50px' conteudo="3"></botao>
<botao largura="50px" altura='50px' conteudo="+"></botao>
<br>
<botao largura="50px" altura='50px' conteudo="4"></botao>
<botao largura="50px" altura='50px' conteudo="5"></botao>
<botao largura="50px" altura='50px' conteudo="6"></botao>
<botao largura="50px" altura='50px' conteudo="*"></botao>
<br>
<botao largura="50px" altura='50px' conteudo="7"></botao>
<botao largura="50px" altura='50px' conteudo="8"></botao>
<botao largura="50px" altura='50px' conteudo="9"></botao>
<botao largura="50px" altura='50px' conteudo="/"></botao>
<br>
<botao largura="50px" altura='50px' conteudo="C"></botao>
<botao largura="50px" altura='50px' conteudo="0"></botao>
<botao largura="50px" altura='50px' conteudo="="></botao>
<botao largura="50px" altura='50px' conteudo="-"></botao>
<botao largura="50px" altura='50px' conteudo="del"></botao>