<input id='visor' value="">
<br>
<botao class="numero" conteudo="1"></botao>
<botao class="numero" conteudo="2"></botao>
<botao class="numero" conteudo="3"></botao>
<br>
<botao class="numero" conteudo="4"></botao>
<botao class="numero" conteudo="5"></botao>
<botao class="numero" conteudo="6"></botao>
<br>
<botao class="numero" conteudo="7"></botao>
<botao class="numero" conteudo="8"></botao>
<botao class="numero" conteudo="9"></botao>
<br>
<botao conteudo="="></botao>
<botao class="operador" conteudo="+"></botao>
<botao class="operador" conteudo="*"></botao>
<botao class="operador" conteudo="/"></botao>
<botao class="operador" conteudo="-"></botao>
<botao class="operador" conteudo="del"></botao>